<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yep.server.mapper.UserMapper">
    <resultMap type="user" id="UserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="userProfile" column="user_profile" jdbcType="VARCHAR"/>
        <result property="userStateId" column="user_state_id" jdbcType="INTEGER"/>
        <result property="isEnabled" column="is_enabled" jdbcType="OTHER"/>
        <result property="isLocked" column="is_locked" jdbcType="OTHER"/>
    </resultMap>
    <!--根据用户名查询用户 -->
    <select id="loadUserByUsername" resultMap="UserMap">
        select *
        from tim_remake.user
        where username = #{username}
    </select>
    <!--用户登录后设置用户的状态为在线-->
    <update id="setUserStateToOn">
        update tim_remake.user set user_state_id=1 where id=#{id}
    </update>
    <!--用户登出后设置用户的状态为离线-->
    <update id="setUserStateToLeave">
        update tim_remake.user set user_state_id=2 where id=#{id}
    </update>
</mapper>